label#PMCOD.control-label.checkbox-inline{
  margin-left:-220px;
  margin-bottom:0px;
}

label#PMCard{
  margin-left:-104px;
}

a#PayWithCard.btn.btn-primary{
  margin-left:50px;
  margin-top:20px;
}

a#CashOnDeli.btn.btn-primary{
  margin-top:20px;
}

